*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
debug/
debugPublic/
release/
releases/
x64/
x86/
build/
bld/
bin/
obj/
out/
msbuild.log
msbuild.err
msbuild.wrn
.fake
bin/Debug/net8.0/api.dll
bin/Debug/net8.0/api.exe
bin/Debug/net8.0/api.pdb
obj/Debug/net8.0/api.AssemblyInfo.cs
obj/Debug/net8.0/api.AssemblyInfoInputs.cache
obj/Debug/net8.0/api.dll
obj/Debug/net8.0/api.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/ref/api.dll
obj/Debug/net8.0/refint/api.dll
obj/Debug/net8.0/api.assets.cache